<!--

   ___ _ _   ___                  _ _                 
  / __(_) |_| _ \___ _ __  ___ __(_) |_ ___ _ _ _  _ 
 | (_ | |  _|   / -_) '_ \/ _ (_-< |  _/ _ \ '_| || | Mode %MODE%
  \___|_|\__|_|_\___| .__/\___/__/_|\__\___/_|  \_, | Vite v<%= viteVersion %>
                    |_|  by github.com/kryscau  |__/  SvelteKit v<%= sveltekitVersion %> 
-->

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="%sveltekit.assets%/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
		<link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
		<link rel="manifest" href="/assets/favicon/site.webmanifest" />
		<noscript>
			<link rel="stylesheet" href="/assets/css/noscript.css" />
		</noscript>
		<meta name="twitter:card" content="summary_large_image" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		%sveltekit.head%
	</head>
	<body class="bg-gh-bg text-gh-text min-h-screen" data-sveltekit-preload-data="hover">
		<noscript>
			<div class="noscript-message">
				<h1>Oups!</h1>
				<p>
					This application requires JavaScript to be enabled. Please enable JavaScript in your
					browser settings and refresh the page. <br />
					<a href="https://www.enable-javascript.com/" target="_blank" rel="noopener noreferrer">
						How to enable JavaScript?
					</a>
				</p>
			</div>
		</noscript>
		<div style="display: contents">%sveltekit.body%</div>
	</body>
</html>
